@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600;1,700&amp;family=Plus+Jakarta+Sans:wght@400;500;600;700&amp;display=swap");

@import "tailwindcss";

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}
button {
  cursor: pointer;
}
/* home page*/
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
